<div id="wrapper" class="dashboard-wrapper">
  <!-- Start Header
  =============================-->
  <main class="main-content" >
      <app-side-menu></app-side-menu>
      
      <div class="dashboard-content sm-scroll" id="pageContent">
        <h2 class="title">Today</h2>
        <!-- <app-breadcrumb></app-breadcrumb> -->
          <div class="content-body">
              <router-outlet></router-outlet>
          </div>
      </div>

  </main>
</div><!--End wrapper-->


<!-- <router-outlet></router-outlet> -->

